

* {
  margin: 0;
  padding: 0;
}

.parent-form {
  /* border: 1px solid black; */


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 2vw;

  width: 100vw;
  height: 90vh;
  

}

#Back {
  margin-left: 45vw;
}


form {
  /* outline: 1px solid rgb(141, 140, 140); */

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  /* justify-content: space-around; */
  gap: 5vh;

  width: 40vw;
  height: 50vh;

  border-radius: 30px;
  box-shadow: 2px 3px 5px #00BFA6;


}

.display-6 {
  margin-top: 2vh;
  color: rgb(130, 129, 129);
}



.input {
  border: 2px solid transparent;
  width: 20em;
  height: 3.5em;
  padding-left: 0.8em;
  outline: none;
  overflow: hidden;
  background-color: #F3F3F3;
  border-radius: 10px;
  transition: all 0.5s;

}

.input:hover,
.input:focus {
  border: 2px solid #4A9DEC;
  box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
  background-color: white;
}
