

* {
  margin: 0;
  padding: 0;
}

parent-form {
  border: 1px solid black;

  margin-top: 10vh;
  

}


form {
  outline: 1px solid black;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;

  width: 50vw;
  height: 60vh;


}



.input {
  border: 2px solid transparent;
  width: 20em;
  height: 3.5em;
  padding-left: 0.8em;
  outline: none;
  overflow: hidden;
  background-color: #F3F3F3;
  border-radius: 10px;
  transition: all 0.5s;

}

.input:hover,
.input:focus {
  border: 2px solid #4A9DEC;
  box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
  background-color: white;
}
