

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(/Login/tindahan.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(5px);
}


.form-parent {
  display: flex;
  align-items: center;
  justify-content: center;
  border:  1px solid black;

  width: 100vw;
  height: 100vh;
}


.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  padding: 2.5em;
  border-radius: 25px;
  transition: .4s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.4) 1px 2px 2px;
  width: 30vw;
  height:75vh;
  justify-content: center;

  background: transparent;
  backdrop-filter: blur(30px);

  gap: 5vh;


}

.a-forgot {
  margin-left: 2.8vw;
}

.a-forgot:hover {
  color: rgb(34, 34, 241);
}

.form:hover {
  transform: translateX(-0.5em) translateY(-0.5em);
  border: 1px solid #171717;
  box-shadow: 10px 10px 0px #636363cd;
}

.heading {
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 3rem;

  /* border: 1px solid black; */
}

.input {
  border-radius: 5px;
  border: 1px solid whitesmoke;
  background-color: whitesmoke;
  outline: none;
  padding: 0.7em;
  transition: .4s ease-in-out;

  width: 20vw;
  height: 6vh;
  margin-left: 3vw;

  font-size: 1.2rem;
}

.btn {
  width: 10vw;
  height: 7vh;
  font-size: 1.2rem;
}

.input:hover {
  box-shadow: 6px 6px 0px #969696,
             -3px -3px 10px #ffffff;
}

.input:focus {
  background: #ffffff;
  box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
}

.form .btn {
  /* margin-top: 2em; */
  align-self: center;
  /* padding: 0.7em;
  padding-left: 1em;
  padding-right: 1em; */
  border-radius: 10px;
  border: none;
  /* color: black; */
  transition: .4s ease-in-out;
  box-shadow: rgba(70, 69, 69, 0.4) 1px 1px 1px;

}

.form .btn:hover {
  box-shadow: 6px 6px 0px #969696,
             -3px -3px 10px #ffffff;
  transform: translateX(-0.5em) translateY(-0.5em);
}

.form .btn:active {
  transition: .2s;
  transform: translateX(0em) translateY(0em);
  box-shadow: none;
}

/* This is design Code of alert */


.login-failure-message {
  display: none;
  position: fixed;
  top: 17%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  background-color: #f63a2c;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
  opacity: 1;
  transition: opacity 0.5s ease, visibility 0.5s ease;

  width: 28vw;
  height: 8vh;

  font-size: 1.2rem;
}